<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ws" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Inline/Service.svc" binding="wsHttpBinding"
                bindingConfiguration="ws" contract="ICalculator" name="ws">
                <identity>
                    <servicePrincipalName value="host/CDC312800.gdnchina.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>