<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalcService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IEcho">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2013/CalcService/netTcpICalc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalcService"
                contract="ICalcService" name="NetTcpBinding_ICalcService" />
            <endpoint address="net.tcp://localhost:2013/CalcService/netTcpIEcho"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEcho"
                contract="IEcho" name="NetTcpBinding_IEcho" />
        </client>
    </system.serviceModel>
</configuration>