<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEcho">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalcService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cdc312800.gdnchina.com/CalcService/CalcService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalcService"
                contract="ICalcService" name="WSHttpBinding_ICalcService">
                <identity>
                    <servicePrincipalName value="host/CDC312800.gdnchina.com" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost/CalcService/CalcService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEcho"
                contract="IEcho" name="NetTcpBinding_IEcho" />
        </client>
    </system.serviceModel>
</configuration>