<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="InlineService.CalculatorService" behaviorConfiguration="genericBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/inline/"/>
					</baseAddresses>
				</host>
				<endpoint name="ws" address="" binding="wsHttpBinding" contract="InlineService.ICalculator" />
				<endpoint address="web" binding="webHttpBinding" contract="InlineService.ICalculator" behaviorConfiguration="webBehavior" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<enableWebScript/>
					<!--<webHttp/>-->
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="genericBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
