<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "D:\log\Traces2.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<system.serviceModel>
		<services>
			<service
				name="SelfHost.Service.CalculatorService"
				behaviorConfiguration="CalculatorServiceBehavior">
				<host>
					<baseAddresses>
						<!--<add baseAddress="http://localhost:8000/SelfHost/Service/"/>-->
						<add baseAddress="net.tcp://localhost:8031/SelfHost/Service"/>
					</baseAddresses>
				</host>
				<!--this endpoint is exposed at the base address provided by host: http://localhost:8000/SelfHost/Service/-->
				<!--<endpoint address=""
						  binding="wsHttpBinding"
						  contract="SelfHost.Service.ICalculator" />-->
				<endpoint address=""
						  binding="netTcpBinding"
						  bindingConfiguration="netTcpBindingConfig"
						  contract="SelfHost.Service.ICalculator" />
				<!--the mex endpoint is exposed at http://localhost:8000/SelfHost/Service/mex-->
				<!--<endpoint address="mexWs"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />-->
				<endpoint address="mexTcp"
						  binding="netTcpBinding"
						  bindingConfiguration="netTcpBindingConfig"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
		<behaviors>
			<serviceBehaviors>
				<behavior name="CalculatorServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/SelfHost/Service/CalculatorService.svc"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<netTcpBinding>
				<binding name="netTcpBindingConfig" portSharingEnabled="true" />
			</netTcpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

</configuration>
