<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="ScottyApps.WCFPractice.CalcService.CalcService" behaviorConfiguration="generalBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/CalcService"/>
						<add baseAddress="net.tcp://localhost/CalcService"/>
					</baseAddresses>
				</host>
				<endpoint
					address=""
					binding="wsHttpBinding"
					contract="ScottyApps.WCFPractice.CalcService.ICalcService" />
				<endpoint
					address=""
					binding="netTcpBinding"
					contract="ScottyApps.WCFPractice.CalcService.IEcho"
					bindingConfiguration="PortSharingBinding" />
				<endpoint address="mexTcp"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
				<endpoint address="mexWS"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="PortSharingBinding"  portSharingEnabled="true">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="generalBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

</configuration>